// _colors.scss

$background-body-color: #f2f9f9;
$background-panel-color: #ffffff;

$border-color: #effcfa;

$main-color: #72dbaf;
$secondary-color: #f74a69;
$accent-color: #ffffff;
$shadow-color: #b7b7b7;