// _button.scss

@import 'settings';
@import 'colors';


button, input[type="button"], input[type="submit"] {
	color: $accent-color;

	font-size: 1.2em;

	width: calc(100% + #{$padding * 4});
	border: none;
	outline: none;

	padding: $padding / 2;

	background-color: $main-color;

	transition: all 0.2s ease-out;

	box-shadow: 2px 2px 3px $shadow-color;

	&:hover {
		background-color: lighten($main-color, 10%);

		box-shadow: 2px 3px 3px $shadow-color;
		transform: translate(0px, -1px);
		cursor: pointer;
	}

	&:active {
		box-shadow: 2px 2px 3px $shadow-color;
		transform: translate(0px, 1px);
	}
}