// _headings.scss

@import 'settings';

@mixin header-list {
  @for $i from 1 through 6 {
  	h#{$i} { 
  		width:  100%;
  		margin: $margin/$i $margin $margin/$i $margin;
  	}
  }
}

@include header-list;