// _inputs.scss

@import 'settings';
@import 'colors';

label {
	margin-bottom: $margin;
}

input[type="text"], input[type="password"] {
	border: none;
	border-bottom: lighten($main-color, 15%) 2px solid;

	padding: $padding / 5;

	outline: none;

	width: 100%;

	font-size: 1.1em;

	transition: all .2s ease-out;

	&:hover {
		border-bottom: $main-color 2px solid;
	}

	&:focus {
		border-bottom: $main-color 2px solid;
	}
}

input[type="checkbox"] {
	outline: none;
	border: none;
}