// _link.scss

@import 'colors';

a {
	color: $main-color;
	text-decoration: none;
	transition: all 0.2s linear;

	&:hover {
		cursor: pointer;
		transform: translate(0px, -1px);
		color: darken( $main-color, 15% );
	}

	&:active {
		cursor: pointer;
		transform: translate(0px, 1px);
		color: $main-color;
	}
}