// _page.scss

@import 'settings';
@import 'colors';

header, footer {
	width: 100%;

	padding: $padding;
	margin-bottom: .7em;

	font-size: 1.5em;

	justify-content: space-around;
	align-items: center;

	background-color: saturate($main-color, 10%);
	border-bottom: $border-color 1px solid;

	box-shadow: 0px 1px 10px $shadow-color;
}