// _normalize.scss

@import 'colors';
@import 'fonts';

* {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	
	margin: 0;
	padding: 0;

	font-family: $regular-font;
}

body {
	background-color: $background-body-color;
}
