// _panel.scss

@import 'settings';
@import 'colors';

.panel {
	border: $border-color 1px solid;
	margin: $margin;
	padding: $padding;

	background-color: $background-panel-color;

	box-shadow: 2px 2px 5px $shadow-color;

	.panel {
		@extend .panel;
		margin: $margin 0 $margin 0;

		background-color: $background-body-color;

		box-shadow: inset 2px 2px 5px $shadow-color;

		.panel {
			@extend .panel;

			margin: $margin 0 $margin 0;

			background-color: $background-panel-color;

			box-shadow: 2px 2px 5px $shadow-color;
		}
	}

	&-hover {
		@extend .panel;
		transition: all 0.3s ease-out;

		&:hover {
			background-color: rgba($background-panel-color, .8);
			cursor: pointer;
		}
	}

	&-move {
		@extend .panel;
		transition: all 0.1s linear;

		&:hover {
			transform: translate(0, -1px);
			cursor: pointer;

		}
	}

	
}